@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    ;
}

body {
    position: relative;
}

.container {
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
}

.logo {
    color: #262728;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 70px;
}

nav ul li a {
    color: #262728;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00bf9f;
    transition: .3s;
}

.btn {
    background: transparent;
    border: 2px solid #262728;
    padding: 12px 25px;
    color: #262728;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 80px;
    font-size: 14px;
    font-weight: bold;
}

.btn:hover {
    background-color: #262728;
    color: white;
    transition: .3s;
}

header {
    width: 92%;
    margin: 0 auto;
    padding: 13px 0;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 2;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 30px rgb(1 2 5/25%);
}

.background {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.logo2-text {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50);
}

.logo2-text h1 {
    font-size: 85px;
    color: #262728;
    line-height: 110px;
    margin-bottom: 25px;
}

.azul {
    color: blue;
}

h3 {
    color: #00bf9f;
    font-size: 30px;
    margin: 5px;
}

.button {
    background-color: blueviolet;
    border: 2px solid transparent;
    padding: 8px 32px;
    margin: 5px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    left: 10px;
}

p {
    color: #262728;
    font-size: 20px;
}

.button2 {
    text-decoration: none;
}

.button :hover {
    background-color: blue;
    color: white;
    transition: .3s;
}